<div class="text-center">
  <h1>{{title}}</h1>
  <span class="subtitulo">(Just Another Wordle Clone)</span>
</div>

<div *ngIf="started;else elseblock">
  <div class="container text-center p-2 col-12 col-md-4">
    <div class="tries d-flex justify-content-center" style="grid-template-columns: repeat({{conf_letters}},auto)" *ngFor="let try of tries; let i = index">
        <app-letter
            [letter]="tries[i][j]"
            *ngFor="let position of try; let j = index">
        </app-letter>
    </div>
  </div>

  <div class="container mb-2 justify-content-center col-12">
    <div class="row">
        <input hidden  type="text" class="form-control" id="word" placeholder="palabra con tilde" (keyup)="check_input($event.key)" [attr.maxlength]="conf_letters" autofocus>
    </div>
  </div>

  <app-keyboard [keyboard_status]="keyboard" (pulsado)="check_input($event)"></app-keyboard>
</div>

<ng-template #elseblock>
  <div class="container text-center col-4  col-md-2 col-xl-1">
    <div class="row">
      <div class="mt-5">
        <label for="tries" class="form-label">Reintentos</label>
        <input type="number" class="form-control" id="tries" min=2 max=12 value="6">
      </div>
      <div class="mt-3">
        <label for="wlength" class="form-label">nº de letras</label>
        <input type="number" class="form-control" id="wlength" min=4 max=7 value="5">
      </div>

      <button type="button" class="btn btn-primary mt-3" (click)="start_game()">Jugar</button>
    </div>
  </div>
</ng-template>
