:root {
  --border: #d3d6da;
  --yellow: #c9b458;
  --green: #6aaa64;
  --gray: #86888a;

}

body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.titulo {
  padding-bottom: 20px;
}

.tries{
  margin-bottom: 10px;
}

#formulario {
  padding-top:40px;
}
