:root {
  /* no funcionan las variables en  el componente letter ¿?*/
  --border: #d3d6da;
  --yellow: #c9b458;
  --green: #6aaa64;
  --gray: #86888a;
}

body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.subtitulo {
  padding-bottom: 50px;
  font-size: 16px;
  color:#86888a;
}

.tries{
  margin-bottom: 10px;
  gap:5px;
}

#formulario {
  padding-top:40px;
}
