<div class="text-center">
  <h1>{{title}}</h1>
  <span class="subtitulo">(just another wordle clone)</span>
</div>

<div *ngIf="started;else elseblock">
  <div class="container mt-5">
    <div class="row tries" *ngFor="let try of tries; let i = index">
        <app-letter class="col"
            [letter]="tries[i][j]"
            [row]="i"
            [pos]="j"
            *ngFor="let position of positions; let j = index">
        </app-letter>
    </div>
  </div>

  <div class="container   d-flex  justify-content-center" id="formulario">
    <div class="row">
      <div class="mb-2 col">
        <input type="text" class="form-control col-2" id="word" placeholder="palabra">
      </div>
      <button type="button" class="btn btn-primary ps-6 col-4" (click)="check_word()">Probar</button>
    </div>
  </div>
</div>

<ng-template #elseblock>
  <div class="container text-center col-7">

    <div class="mt-5">
      <label for="tries" class="form-label">Reintentos</label>
      <input type="number" class="form-control" id="tries" min=2 max=12 value="6">
    </div>
    <div class="mt-3">
      <label for="wlength" class="form-label">nº de letras</label>
      <input type="number" class="form-control" id="wlength" min=3 max=7 value="5">
    </div>

    <button type="button" class="btn btn-primary mt-3" (click)="start_game()">Jugar</button>
  </div>
</ng-template>
