.keybtn {
  width: 100%;
  max-width: 50px;
  min-height: 48px;
  border: 1px solid #d3d6da;
  background-color: #d3d6da;
  border-radius: 5px;

  font-size: 18px;
  font-weight: bold;
  font-family: monospace;

  justify-content:center;
  align-items:center;
}

/* teclas especiales, para que no ocupen tanto */
.Enter, .DEL {
  font-size:15px!important;
  max-width: 78px;
}

/* Para las teclas con tilde */
.fila_0 > .keybtn {
  max-width: 105px;
}

.fila {
  gap: 5px;
  margin-bottom: 5px;
}

.ok {
  background-color: #6aaa64;
  color: white;
}

.exists {
  background-color: #c9b458;
  color: white;
}

.no {
  background-color: #86888a;
  color: white;
}
